__pycache__
.idea
.DS_Store

# do not save demo data for now
src/sylvis/fixtures/

# do not save tx in source
src/sylvis/locale

# django volumes (mounted in docker-compose.override.yml)
/static
/media
