{% extends "admin/base_site.html" %}

{% load model_display_utils i18n mptt_tags %}

{% block content %}

<h1>{{entity|get_model_verbose_name}} <b>{{entity}}</b></h1>

{% if entity|get_class_name == 'Plot' %}
<h2>{% translate "Plot details" %}</h2>
<ul>
  <li>
    {% translate "Sectors:" %}
    {% for ancestor in entity.sector.get_ancestors %}
      <a href="{{ancestor.get_absolute_url}}">{{ancestor}}</a> &gt;
    {% endfor %}
    <a href="{{entity.sector.get_absolute_url}}">{{entity.sector}}</a>
  </li>
  <li>{% translate "Sections rotation period:" %} {{entity.rotation_sections}}</li>
  <li>{% translate "Treatment rotation period:" %} {{entity.rotation_treatments}}</li>
  <li>{% translate "Next planned section:" %} {{entity.planned_next_section}}</li>
  <li>{% translate "Next planned treatment:" %} {{entity.planned_next_treatment}}</li>
</ul>
{% else %}
<ul>
  <li>
    {% translate "Sectors:" %}
    {% for ancestor in entity.get_ancestors %}
      <a href="{{ancestor.get_absolute_url}}">{{ancestor}}</a>{% if not forloop.last %} &gt;{% endif %}
    {% endfor %}
  </li>
</ul>
{% endif %}

<h2>{% translate "Sections" %}</h2>
<table>
  <thead>
    <tr>
      <th>plot</th>
      <th>date</th>
      <th>remark</th>
      <th>volume</th>
    </tr>
  </thead>
  <tbody>
  {% for section in entity.section_set.all %}
    <tr>
      <td><a href="{{section.plot.get_absolute_url}}">{{section.plot}}</a></td>
      <td>{{section.date}}</td>
      <td>{{section.remark}}</td>
      <td>{{section.volume}} m<sup>3</sup></td>
    </tr>
  {% empty %}
    <tr><td colspan="4"><i>No results</i></td></tr>
  {% endfor %}
  </tbody>
</table>


<h2>{% translate "Treatment" %}</h2>
<table>
  <thead>
    <tr>
      <th>plot</th>
      <th>date</th>
      <th>remark</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
  {% for treatment in entity.treatment_set.all %}
    <tr>
      <td><a href="{{treatment.plot.get_absolute_url}}">{{treatment.plot}}</a></td>
      <td>{{treatment.date}}</td>
      <td>{{treatment.remark}}</td>
      <td>{{treatment.description}}</td>
    </tr>
  {% empty %}
    <tr><td colspan="4"><i>No results</i></td></tr>
  {% endfor %}
  </tbody>
</table>

<h2>{% translate "Inventories" %}</h2>
<table>
  <thead>
    <tr>
      <th>plot</th>
      <th>date</th>
      <th>remark</th>
      <th>standing_volume</th>
    </tr>
  </thead>
  <tbody>
  {% for inventory in entity.inventory_set.all %}
    <tr>
      <td><a href="{{inventory.plot.get_absolute_url}}">{{inventory.plot}}</a></td>
      <td>{{inventory.date}}</td>
      <td>{{inventory.remark}}</td>
      <td>{{inventory.standing_volume}} m<sup>3</sup></td>
    </tr>
  {% empty %}
    <tr><td colspan="4"><i>No results</i></td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
